table,
tr,
td, 
th {
    border: 1px solid black;
    
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 900px;
    margin: auto;
    text-align: center;
}
td, th {
    padding: 16px; 
    font-family: Arial, Helvetica, sans-serif;
}
tr{
    background-color: lightgray;
}
tr:nth-child(2){
    background-color: lightcoral;
}
tr:nth-child(even){
    background-color: lightblue;
}
tr:nth-child(odd){
    background-color: lightgreen;
}
th {
    background-color: gray;
    color: white;
}
caption {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif
}